<script>
	import { get_random_decision_tree } from "./decision_tree.js";
	import { synthesize_tree } from "./synthesis/tree.js";
	import { Board } from "./board.js";
	import { random_item } from "./dsl/dsl.js";
	import { Program } from "./dsl/program.js";
	import { Sequence } from "./dsl/sequence.js";
	import { NaturalLibrary } from "./natural-library/library.js";
	import { sorted_tree_label_ids } from "./natural-library/ranking.js";
	import { hamming_distance } from "./natural-library/string_distance.js";
	import { action_factories } from './dsl/action.js';
	import { simple_condition_factories } from './dsl/condition.js';
	import KarelWorld from "./KarelWorld.svelte";
	import KarelEditor from "./KarelEditor.svelte";
	import KarelController from "./KarelController.svelte";
	import Chat from "./Chat.svelte";
	import List from "./List.svelte";

	let utterance_distance_function = hamming_distance;

	// Program generation parameters
	let max_recursion = 3;
	let program_parameters = {
		max_budget: 1000
	};
	let program = null;

	// Board
	let board = Board.random();
	let update_world;

	// Library
	let library = new NaturalLibrary();
	// Initialize library with expertly labeled primitive actions
	for(const action_factory of action_factories) {
		let action = new action_factory();
		let label = action.type.split("_").join(" ");
		let tree = new Program(action, "'" + label + "'");
		let tree_id = library.add_tree(tree);
		library.add_label_to_tree(tree_id, label);
	}

	// Library list widget
	let library_items = [];
	let max_actions_per_transform = 5000;

	function program_callback(node) {
		update_world();
	}

	function item_relevance(search_term, library_item) {
		return -hamming_distance(search_term, library_item.title);
	}

	// Teaching
	let teaching_term = "";
	let teaching = false;
	let teaching_tree_sequence = [];
	let teaching_board_sequence = [];

	function start_teaching(search_term) {
		// Triggered when the user clicks on the "add" button
		teaching_term = search_term;
		teaching = true;
		teaching_tree_sequence = [];
		teaching_board_sequence = [];
	}

	function stop_teaching() {
		// Triggered when the user clicks on the "done teaching" button
		teaching = false;

		// If the demonstration was empty ignore
		if(teaching_tree_sequence.length === 0)
			return;

		// Synthesize tree from demonstration
		let _tree = synthesize_tree(
			teaching_tree_sequence,
			teaching_board_sequence,
			simple_condition_factories
			);

		// Prettify program
		let tree = new Program(_tree, "'" + teaching_term + "'");

		// Add tree to library
		let label = teaching_term;
		let tree_id = library.add_tree(tree);
		library.add_label_to_tree(tree_id, label);
		library = library;

		// Empty teaching sequence lists
		teaching_tree_sequence = [];
		teaching_board_sequence = [];
	}

	// Reactive
	$: if(library) {
		library_items = [];
		for(const tree_id of library.get_tree_ids()) {
			let tree = library.get_tree(tree_id);
			let label_ids = library.get_label_ids_of_tree(tree_id);
			let label = library.get_tree_label(tree_id, label_ids[0]);
			let parameters = {...program_parameters};

			// "Step" function for the library program
			function action() {
				let board_copy = Board.from_json(board);
				teaching_tree_sequence = [...teaching_tree_sequence, tree];
				teaching_board_sequence = [...teaching_board_sequence, board_copy];
				tree.transform(board, parameters, program_callback);
				program_callback();
			}

			let item = {
				title: label,
				item: tree,
				action: action
			};
			library_items.push(item);
		}
		library_items = library_items;
	}
</script>

<div class="row">
	<div class="column">
		<div class="area">
			<KarelWorld board={board} bind:update_world={update_world}>
			</KarelWorld>
		</div>
	</div>

	<div class="column">
		<List
			items={library_items}
			item_relevance={item_relevance}
			add_item={start_teaching}
		>
		{#if teaching}
			<div id="box">
				Teaching <b>{teaching_term}</b>
				<button on:click={stop_teaching}>Done</button>
			</div>
		{/if}
		</List>
	</div>
</div>

<style>
	.area {
		height: 100%;
		display: flex;
	}
	.row {
		display: flex;
		height: 100%;
	}
	.column {
		flex-basis: 100%;
	}
	.start_teaching_button {
		background-color: #AAF;
	}
	.stop_teaching_button {
		background-color: #AFA;
	}
	html, body {
		height: 100%;
	}

	#box {
		display: flow-root;
		flex: 0 1 auto;
		border: solid;
		border-width: thin;
		padding: 1em;
		margin: 0 0 1em 0;
		background-color: aliceblue;
	}

	#box button {
		float: right;
	}
</style>
