<script>
	import { createEventDispatcher } from 'svelte';

	const USER = "user";
	const REMOTE = "remote";

	let user_messages;
	let remote_messages;
	let user_message = "";
	let message_divs = [];
	const dispatch = createEventDispatcher();

	// Inner state
	let message_order = [];

	// Events
	export function send_user_message(message) {
		user_message = "";
		if(!user_messages)
			user_messages = [];
		user_messages = [...user_messages, message];
		message_order = [...message_order, [USER, user_messages.length-1]];
		dispatch('user_message', message);
	}

	export function send_remote_message(message) {
		if(!remote_messages)
			remote_messages = [];
		remote_messages = [...remote_messages, message];
		message_order = [...message_order, [REMOTE, remote_messages.length-1]];
		dispatch('remote_message', message);
	}

	function scroll_to_bottom(node, message_order) {
		if(node.lastChild)
			node.lastChild.scrollIntoView({behavior: "smooth"});
		return {
			update(message_order) {
			if(node.lastChild)
				node.lastChild.scrollIntoView({behavior: "smooth"});
			},
			destroy() { }
		}
	}

	export function get_user_messages() {
		return user_messages;
	}
</script>

<div class="chat">
	<div class="message_area" use:scroll_to_bottom={message_order}>
		{#each message_order as [source, i]}
			<div class="row">
				{#if source == USER}
					<div class="user_message">
						{user_messages[i]}
					</div>
				{:else if source == REMOTE}
					<div class="remote_message">
						{remote_messages[i]}
					</div>
				{/if}
			</div>
		{/each}
	</div>
	<slot>
	</slot>
	<form on:submit|preventDefault={send_user_message(user_message)}>
		<input bind:value={user_message} placeholder="pick up all markers">
		<button type=submit disabled={!user_message}>Send</button>
	</form>
</div>

<style>
	.user_message, .remote_message {
		width: fit-content;
		width: -moz-fit-content;
		padding: 1em;
	}

	.user_message {
		background-color: #eee;
		float: right;
	}

	.remote_message {
		background-color: #99CCFF;
		float: left;
	}

	.message_area {
		overflow-y: auto;
	}

	.row {
		display: flow-root;
	}

	.chat {
		width: 100%;
		display: flex;
		flex-flow: column;
	}
</style>
