<script>
	/**
	* Display Karel programs with syntax highlighting.
	**/
	import hljs from 'highlight.js/lib/core';
	import 'highlight.js/styles/github.css';
	import python from 'highlight.js/lib/languages/python';
	hljs.registerLanguage('python', python);

	export let program = null;
	let code = "";

	// Reactive program data structure
	$: if(program) {
		code = program.get_code();
		hljs.highlightAll();
	}

	// Reactive code highlighting
	$: if(code) {
		hljs.highlightAll();
	}

	function hightlight_code(node, code) {
		if(code.length > 0)
			node.innerHTML = code;
		hljs.highlightAll();
		return {
			update(code) {
				if(code.length > 0)
					node.innerHTML = code;
				hljs.highlightAll();
			},
			destroy() {}
		}
	}
</script>

<div bind:this={code}>
	<pre><code class="python" use:hightlight_code={code}>
	</code></pre>
</div>

<style>
	div { flex: 1 1 auto; overflow-y: auto; }
	pre { margin: 0em; }
	pre code { padding: 0em; display: unset; margin: 0em; }
</style>
