<script>
	/**
	 * This component builds a set of buttons for a given list
	 * of labeled DSL trees.
	 */
	import { spring } from 'svelte/motion';
	import { writable } from 'svelte/store';
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

	// Board to be controlled
	export let board;
	export let program_parameters;
	export let program_callback;

	export let trees;
	export let labels;

	function apply(action, label) {
		// TODO board copy
		let board_copy = board.copy();
		dispatch('button_click', [action, label, board_copy]);
		let parameters = {...program_parameters};
		action.transform(board, parameters, program_callback);
	}
</script>

<div class="row">
	{#each trees as tree, i}
		<div class="column">
			<div class="area">
				<button on:click={apply(tree, labels[i])}>{labels[i]}</button>
			</div>
		</div>
	{/each}
</div>

<style>
	.area { margin: auto; }
	.row {
		display: flex;
	}
	.column {
		flex-basis: 100%;
	}
</style>
