<script>
	import { spring } from 'svelte/motion';
	import { writable } from 'svelte/store';
	import { RIGHT, LEFT, UP, DOWN } from "./board.js";
	import { NORMAL_AREA, SPECIAL_AREA } from "./board.js";

	// Parameters
	let unit_size = 0.2;
	let robot_radius = 0.5;
	let marker_radius = 0.3;
	let wall_radius = 0.5;
	let special_area_radius = 0.5;
	let eye_radius = 0.1;
	let eye_orientation_offset = robot_radius*2/3;
	let robot_color = "lightblue";
	let marker_color = "lightgreen";
	let wall_color = "black";
	let special_area_color = "beige";
	let eye_color = "orange";
	let circle_type = "circle";
	let square_type = "square";

	// Board to be plotted
	export let board;
	let center_coords = [0, 0];

	// Geometric shapes to represent a board
	function get_board_geometric_shapes(board) {
		let shapes = [];

		// Add special areas
		for(let [i, j] of board.get_active_coordinates()) {
			if(board.get_area_type_at([i, j]) != SPECIAL_AREA)
				continue;
			shapes = [...shapes, {
				x: i+1,
				y: j,
				color: special_area_color,
				radius: special_area_radius,
				text: "",
				type: square_type
			}];
		}

		// Add robot{
		let robot_x = board.get_robot_position()[0];
		let robot_y = board.get_robot_position()[1];
		let eye_x = robot_x;
		let eye_y = robot_y;
		if(board.get_robot_orientation() == UP)
			eye_y += eye_orientation_offset;
		if(board.get_robot_orientation() == DOWN)
			eye_y -= eye_orientation_offset;
		if(board.get_robot_orientation() == RIGHT)
			eye_x += eye_orientation_offset;
		if(board.get_robot_orientation() == LEFT)
			eye_x -= eye_orientation_offset;
		let robot = {
			x: robot_x,
			y: robot_y,
			radius: robot_radius,
			color: robot_color,
			text: board.get_robot_marker_n().toString(),
			type: circle_type
		};
		let robot_eye = {
			x: eye_x,
			y: eye_y,
			radius: eye_radius,
			color: eye_color,
			text: "",
			type: circle_type
		};
		shapes = [...shapes, robot, robot_eye];

		// Add markers
		for(let [i, j] of board.get_active_coordinates()) {
			if(board.get_marker_n_at([i, j]) == 0)
				continue;
			shapes = [...shapes, {
				x: i,
				y: j,
				radius: marker_radius,
				color: marker_color,
				text: board.get_marker_n_at([i, j]).toString(),
				type: circle_type
			}];
		}

		// Add walls
		for(let [i, j] of board.get_active_coordinates()) {
			if(!board.is_wall([i, j]))
				continue;
			shapes = [...shapes, {
				x: i+1,
				y: j,
				color: wall_color,
				radius: wall_radius,
				text: "",
				type: square_type
			}];
		}

		return shapes;
	}

	// Array of { x: float, y: float, size: float}
	// in percents of the area height
	export let shapes = [];

	// Reactive board
	export function update_world() {
		if(board) {
			shapes = get_board_geometric_shapes(board);
			center_coords = board.get_robot_position();
		}
	}
	update_world();

	function to_svg_units(x) {
		return (x*unit_size*100);
	}
</script>

<svg viewBox="0 0 100 100">
	<g transform="translate({50+to_svg_units(center_coords[0])}, {50-to_svg_units(center_coords[1])})">
		{#each shapes as shape}
			<g>
				{#if shape.type == circle_type}
					<circle cx={-to_svg_units(shape.x)} cy={to_svg_units(shape.y)} r={to_svg_units(shape.radius)} fill={shape.color}/>
				{:else if shape.type == square_type}
					<rect x={-to_svg_units(shape.x-shape.radius)} y={-to_svg_units(shape.y+shape.radius)} width={to_svg_units(shape.radius*2)} height={to_svg_units(shape.radius*2)} fill={shape.color}/>
				{/if}
				<g>
					<text x="{-to_svg_units(shape.x)}" y="{to_svg_units(shape.y)}">
						<tspan dx="{-to_svg_units(shape.radius*0.5)}"
						dy="{to_svg_units(shape.radius)*0.5}" font-size="{2*to_svg_units(shape.radius)/shape.text.length}">{shape.text}</tspan>
					</text>
				</g>
			</g>
		{/each}
	</g>
</svg>

<style>
	svg { width: 100%; height: 100%; margin: 0px }
</style>
