<script>
	/**
	 * A list of items with a search bar and "add" and "delete" actions.
	 **/
	import Item from "./ProgramCard.svelte";

	// A list of {title: string, item: Object}
	export let items = null;
	let ordered_items = [];
	$: if(items && items.length != ordered_items.length) {
		ordered_items = [...items];
	}

	// A function(search_term, item) -> float
	export let item_relevance;

	// A function(search_term) to add an item
	export let add_item;

	let search_term = "";

	function search(term) {
		// Clear search bar
		search_term = "";

		// Exit on empty terms
		term = term.trim();
		if(term.length === 0)
			return;

		// Sort the items
		function item_distance(item1, item2) {
			let relevance1 = item_relevance(term, item1);
			let relevance2 = item_relevance(term, item2);
			return relevance2 - relevance1;
		}

		ordered_items.sort(item_distance);
		ordered_items = [...ordered_items];
	}

	function add_item_event(term) {
		// Clear search bar
		search_term = "";

		// Trigger add item
		add_item(term);
	}
</script>

<div id="box">
	<form
		id="search-bar-div"
		on:submit|preventDefault={search(search_term)}
	>
		<input
			type="text"
			id="search-bar"
			bind:value={search_term}
		/>
		<button
			disabled={!search_term}
		>o</button>
		<button
			disabled={!search_term}
			on:click|preventDefault={add_item_event(search_term)}
		>+</button>
	</form>

	<slot></slot>

	<div id="list-div">
		{#each ordered_items as item}
			<Item item={item}/>
		{/each}
	</div>
</div>

<style>
	#box {
		height: 100%;
		width: 100%;
		flex-flow: column;
		display: flex;
	}
	#search-bar-div {
		flex: 0 1 auto;
		display: flex;
	}
	#search-bar {
		flex-grow: 1;
	}
	#list-div {
		flex: 1 1 auto;
		overflow-y: scroll;
	}
	button {
		float: right;
	}
</style>
