<script>
	/**
	 * A collapsible program card.
	 */
	import Editor from "./KarelEditor.svelte";

	// An object of the form {title: string, item: Program, action: function}
	export let item = {
		title: "",
		item: new Object(),
		action: null
	};

	export let expanded = false;
	let editor;
	function toggle_expand() {
		expanded = !expanded;
		editor.classList.toggle("active");
		if(expanded)
			editor.style.maxHeight = null;
		else
			editor.style.maxHeight = editor.scrollHeight + "px";
	}
</script>

<div id="box" on:click={toggle_expand}>
	<div id="title">
		{item.title}
		<button on:click|stopPropagation={item.action}>Step</button>
	</div>

	<div id="editor" bind:this={editor} on:click|stopPropagation={()=>{}}>
		<Editor program={item.item}/>
	</div>
</div>

<style>
	#box {
		border: solid;
		border-width: thin;
		padding: 1em;
		margin: 0 0 1em 0;
	}

	#editor {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}

	button {
		float: right;
	}

	#title {
		display: flow-root;
	}
</style>
